@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* For CKEditor */
.ck-content h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.ck-content h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.ck-content h3 {
    font-size: 1.17em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.ck-content p {
    margin-bottom: 1em;
    line-height: 1.5;
}

.ck-content ul {
    list-style-type: disc !important;
    padding-left: 2em;
    margin-bottom: 1em;
}

.ck-content ol {
    list-style-type: decimal !important;
    padding-left: 2em;
    margin-bottom: 1em;
}

.ck-content strong {
    font-weight: bold;
}

.ck-content em {
    font-style: italic;
}

.ck-content u {
    text-decoration: underline;
}

/* Custom Scrollbar elegant */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    /* Add horizontal scrollbar height */
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
    /* Optional: adds rounded corners */
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}